* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 44px 0 144px 76px;

}



.link-header{
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;

}

.link-header:hover {
    text-decoration: underline;
   
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    height: 30px;
    width: 130px;
    border:none;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    cursor: pointer;
}

.button-header:hover {
    background-color: rgb(75, 71, 217);
    

}

.logo-image {
   width:568px ;
   height: 500px;
   margin-left: 125px;
   margin-bottom: -50px;
   display: inline-block;

}
section {
    display: inline-block;
    margin-left: 86px;
    margin-bottom: 70px;
}

main {
   position: relative;
   bottom: 100px;
}

h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 122px;
    color: #515151;
    margin-top: 60px;

}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 10px;
    color: #515151;
    width: 400px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 450px;
    margin-bottom: 25px;
}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0,.0,.0,0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    color: #000000;
}
.button-main:hover {
    background-color: rgb(128, 200, 47);
}




    
@media screen and (max-width: 1250px) {
  


header {
   margin-left: 213px;
   

}

main {
    text-align: center;
    margin-right: 73px;

}

.logo-image {
    width: 275px;
    height: 275px;

}



}

@media screen and (max-width: 768px) {

header {
    display: none;
}

main {
    margin-left: 120px;
}

body {
    margin-top: 150px;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.logo-image {

   width: 250px;
   height: auto;
   padding-right: 94px;

}

section {
    position: relative;
    right: 30px;

}

p {
   width: 300px;
}

h1 {
    font-size: 50px;
}
    
} 